

# Ignore all hidden files/folders by default
.*

# Whitelist specific dotfiles/folders
!.gitignore
!.vscode/

# Ignore everything in .venv
.venv/*

.DS_Store
__pycache__/
3d-models/

# Data Cache - Files that don't need to be version controlled.
designs/*
!designs/examples.protocols.memory.xc2ve3858_lpddr5_example.XC2VE3858LPDDR5ExampleDesign/
designs/examples.protocols.memory.xc2ve3858_lpddr5_example.XC2VE3858LPDDR5ExampleDesign/*
!designs/examples.protocols.memory.xc2ve3858_lpddr5_example.XC2VE3858LPDDR5ExampleDesign/design-info/
designs/examples.protocols.memory.xc2ve3858_lpddr5_example.XC2VE3858LPDDR5ExampleDesign/design-info/*
!designs/examples.protocols.memory.xc2ve3858_lpddr5_example.XC2VE3858LPDDR5ExampleDesign/design-info/*.design
!designs/examples.protocols.memory.xc2ve3858_lpddr5_example.XC2VE3858LPDDR5ExampleDesign/design-info/reference-designators.table


# part cache does not need to be stored in Git
parts-db/
.venv/

# Python packaging artifacts
dist/
build/
*.egg-info/
src/*.egg-info/
